.peaman-error {
  position: absolute;
  top: 50px;
  right: 50px;

  .error-container {
    max-width: 300px;
    width: 100%;
    text-align: start;
    border-radius: 10px;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.109);
    padding: 20px;

    p {
      margin: 0px;
      color: red;
    }
  }
}
